<!DOCTYPE html>

<link rel='import' href='../../../packages/polymer/polymer.html'>

<polymer-element name='user-list'>
  <template>
    <style>
      :host {
        display: block;
        border: solid 2px #aaf;
        margin: 2px;
      }
    </style>

    <h3>user-list</h3>

    <ul>
      <template repeat='{{user in users}}'>
        <li><a href='#' on-click="{{routePath}}"
          route-path='user.articleList'
          route-param-name="userId"
          route-param-value="{{user}}">{{user}}</a></li>
      </template>
    </ul>
    <content></content>
  </template>
  <script type='application/dart' src='user_list.dart'></script>
</polymer-element>
