<!DOCTYPE html>

<link rel='import' href='../../../packages/polymer/polymer.html'>

<polymer-element name='user-list'>
  <template>
    <style>
      :host {
        display: block;
        border: solid 2px #aaf;
        margin: 2px;
      }
    </style>

    <h3>user-list</h3>

    <ul>
      <template repeat='{{user in users}}'>
        <!-- todo(zoechi) change the link so that it works independent of the  usePushState configuration -->
        <li><a _href='#/user/{{user}}/articles'>{{user}}</a></li>
      </template>
    </ul>
    <content></content>
  </template>
  <script type='application/dart' src='user_list.dart'></script>
</polymer-element>
