<!DOCTYPE html>

<link rel='import' href='../../../../../packages/polymer/polymer.html'>

<link rel='import' href='../../../../../packages/bwu_polymer_routing/bind_view.html'>
<link rel='import' href='../../example_01/components/user_list.html'>
<link rel='import' href='../../example_01/components/user_element.html'>
<link rel='import' href='../../example_01/components/article_list.html'>
<link rel='import' href='../../example_01/components/article_element.html'>

<polymer-element name='app-element'>
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <bind-view id='app-element'></bind-view>
  </template>
  <script type='application/dart' src='app_element.dart'></script>
</polymer-element>
